.note{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 150px;
}

.note-footer-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.popup-menu{
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow:  0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1;
    top: 30px;
    right: -100px;
    width: 160px;
}

.popup-menu button{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 13px;
    color: #333;
    text-align: left;
    padding: 8px 15px;
    width: 100%;
}

.popup-menu button:hover{
    background-color: #f0f0f0;
}