.nav{
    height: 65px;
    padding: 8px;
    border-bottom: 1px solid #dcdcdc;
}

.logo-menu{
    padding: 0 30px 0 0;
}

.menu-icon{
    margin: 0 4px;
   
}

.logo-menu img{
    height: 40px;
    width: 40px;
  
}

.logo-text{
    font-size: 22px;
    color: #5f6368;
    padding: 0 0 0 8px;
}

.nav-icon{
    padding: 12px;
    border-radius: 50px;
    color: #5f6367;

}
.nav-icon:hover{
    background-color: #dedede;
    cursor: pointer;
}

.search-area{
    padding: 0 0 0 60px;
    max-width: 1300px;
    width: 1300px;
   
  
}

.search-area form{
    background-color: #f0f2f3;
    display: flex;
    justify-content: flex-start;
    width: 722px;
    border-radius: 8px;
}

.search-area form input{
    background-color:#f0f2f3 ;
    outline: none;
    border: none;
    height: 46px;
    padding: 11px 0;
    font-size: 16px;
    width: 615px;
}

.search-area form button{
    border: none;
    margin: 4px;
    padding: 0 5px;
    border-radius: 50px;
}
.search-area form span{
    border-radius: 50px;
}
.search-icon{
    border-radius: 50px;
    padding: 8px;
    color: #5f6367;
}

.search-icon:hover{
    background-color: #dedede;
    cursor:pointer;
}

.apps-profile{
    padding: 0 0 0 30px;
}

.google-profile{
    margin: 0 4px 0 10px;
    border: 1px solid #dedede;
    border-radius: 8px;
}

.google-logo{
    width: 85px;
    height: 40px;
    padding: 0 0 0 8px;
}

.profile-icon{
    font-size: 24px;
}