.notes{
    display: flex;
    width: 100%;
    gap: 15px;
    padding: 30px 60px 0 60px; 
    flex-wrap: wrap;
}

.note{
    width: 300px;
    border: 1px solid lightgray;
    border-radius: 8px;
   
}

.note-header{
    display: flex;
    align-items:center;
    justify-content: space-between;
    
}

.note-content{
    padding: 0 0 0 10px;
}
